.btn-calc-num{
    margin: 2px;
    background-color: crimson;
    cursor: pointer;
}
h1{
    text-align: center;
    color: rgb(21, 91, 197);
}
.calc-panel{
    text-align: center;
}
.btn-calc-oper{
    background-color:yellow;
}
#dot{
    background-color:greenyellow;
}